* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #1a295a;
}

a {
  /* Permet d'enlever la mise en forme de base des liens*/
  text-decoration: none;
  color: inherit;
  display: inherit;
  align-items: inherit;
}

/*--------HEADER------------- */

main {
  padding-top: 80px;
}

.noBullets {
  list-style-type: none;
  padding: 0; /* pour qu'il n'y ai plus de puces devant */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 543.51px;
  height: 53.33px;
  color: #1a295a;
}

.noBullets li,
.logoHeader p {
  font-weight: bold;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerHeaderFooter {
  /* Pour le header et le footer */
  margin-left: auto;
  margin-right: auto;
  min-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoHeader {
  display: flex;
  align-items: center;
}

.logo {
  width: 68.81px;
  height: 56.53px;
}

#iconeLangue {
  width: 26.96px;
  height: 26px;
}

#iconeChariot {
  width: 26px;
  height: 26px;
}

#iconeUtilisateur {
  width: 24.36px;
  height: 26px;
}

.iconesHeader {
  display: flex;
  justify-content: space-between;
  width: 104px;
}

/* ---------Banniere------------ */

.baniere {
  background-image: url(./img/footer-ai.png);
  background-size: cover;
  height: 485px;
  display: flex;
}

.containerBaniere h1 {
  color: white;
  font-weight: bold;
  font-size: 64px;
  width: 920px;
  text-align: center;
  text-shadow: -1px -1px 0 #1a295a, 1px -1px 0 #1a295a, -1px 1px 0 #1a295a,
    1px 1px 0 #1a295a;
}

.containerBaniere {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*----------------------------*/
/* ------- PREMIERE PARTIE -------*/

.box-first-part form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.form-group label {
  margin-bottom: 10px; /* Ajoutez un espace entre le label et l'input/select */
  margin-top: 20px; /* Ajustez la marge supérieure du label selon vos préférences */
}

.form-group input,
.form-group select {
  margin-bottom: 209px; /* Ajoutez une marge inférieure aux inputs/selects */
}

.titre h2 {
  text-align: center;
  margin-top: 94px;
  font-size: 50px;
}

/*----------------------------------*/

/* ------- DEUXIEME PARTIE -------- */

.box-two-part {
  background-color: rgb(26, 41, 90);
  height: 518px;
  width: 100%;
  padding-top: 80px; /* Ajustez la valeur selon vos besoins */
}

.box-two-part h2 {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 30px; /* Ajustez la valeur selon vos besoins */
  margin-bottom: 30px;
}

.box-two-part-images {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

/*---------------------------------*/
/*------- TROISIEME PARTIE -----------*/

.box-three-part h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 33px;
}

.box-three-image-text {
  display: flex;
  justify-content: space-around;
  padding-top: 143px;
  height: 300px;
}

p.text-two {
  height: 213px;
  width: 963px;
  margin-top: 22px;
  font-size: 20px;
  text-align: center;
}

/*--------------------------------------------*/
/*-----------QUATRIEME PARTIE ----------------*/

.box-four {
  background-color: rgb(26, 41, 90);
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Pour centrer horizontalement */
  justify-content: center; /* Pour centrer verticalement */
}

.list-text ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Supprimer la marge par défaut sur la liste */
  list-style-type: none; /* Supprimer les puces */
}

.list-text li {
  color: white;
  width: 100%;
  max-width: 1004px;
  margin-bottom: 20px;
}

.box-four h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 36px;
  padding-top: 40px;
}

strong {
  color: white; /* attention c'est pour tout les strong */
}

/*----------------------------------------------------*/
/*----------------CINQUIEME PARTIE--------------------*/

.box-five {
  display: flex;
  justify-content: space-around;
  height: 485px;
}

.box-five img {
  width: 400px;
  height: 300px;
  padding-top: 162px;
}

.box-five h2 {
  padding-top: 270px;
  font-size: 50px;
}

/* --------------------------------------------------*/
/*----------------FOOTER---------------------------*/

footer {
  background-color: #1a295a;
  height: 130px;
  display: flex;
  color: white;
  text-align: center;
}
footer p {
  color: white;
  text-align: center;
}

p a {
  text-align: center;
  white-space: nowrap;
}
footer p {
  color: white;
}
