 @font-face {
        font-family: "Quicksand";
        src: url("https://fonts.google.com/specimen/Quicksand")
 }


* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color:#1A295A;
    
}

a {   /* Permet d'enlever la mise en forme de base des liens*/
    text-decoration: none;
    color: inherit;
    display: inherit;
    align-items: inherit;
}


/* --------------- Header -----------------*/

main {
    padding-top: 80px;
}

.noBullets {
    list-style-type: none;
    padding: 0; /* pour qu'il n'y ai plus de puces devant */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 543.51px;
    height: 53.33px;
    color:#1A295A;
}

.noBullets li, .logoHeader p {
    font-weight: bold;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerHeaderFooter { /* Pour le header et le footer */
    margin-left: auto;
    margin-right: auto;
    min-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader {
    display: flex;
    align-items: center;
}


.logo {
    width: 68.81px;
    height: 56.53px;
}

#iconeLangue {
    width: 26.96px;
    height: 26px;
}

#iconeChariot {
    width: 26px;
    height: 26px;
}

#iconeUtilisateur {
    width: 24.36px;
    height: 26px;
}

.iconesHeader {
    display: flex;
    justify-content: space-between;
    width: 104px;
 }


/* -----------Première Partie-----------*/
/* -----------Réveillez votre subconscient-----------*/



.premierePartie {
    background-image: url(../images/backgroundImage.png);
    background-size: cover;
    height: 485px;
    display: flex;
}

.premierePartie p {
    font-size: 26px;
    color:#1A295A;
    width: 960px;
    text-align: center;
    font-weight: 600px;
}

.containerPremierePartie {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 64px;
    width: 920px;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #1A295A,
     1px -1px 0 #1A295A,
    -1px  1px 0 #1A295A,
     1px  1px 0 #1A295A;
}

.bleuFoncé {
    color: #1A295A;
    text-shadow: 
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
}


/* -----------Deuxième Partie-----------*/
/* -----------Qui sommes-nous?-----------*/

.imagesPrésentation {
    width: 136px;
    height: 136px;
}

.deuxiemePartie {
    background-color: #1A295A;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.figuresContainer {
    display: flex;
    width: 920px;
    height: 190px;
    justify-content: space-between;
}

h2 {
    color: white;
    font-size: 50px;
    font-weight: 600px; 
    letter-spacing: 5px;
}

.deuxiemePartie p {
    font-size: 20px;
    color: white;
    width: 1091px;
    text-align: center;
    font-weight: 400px;
}

figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

figcaption {
    color: white;
    font-size: 25px;
}

/* -----------Troisième Partie-----------*/
/* -----------Notre technologie-----------*/

.imageElectrode {
    width: 388px;
    height: 288px;
}

.troisiemePartie {
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.troisiemePartie h2 {
    color: #1A295A;
}

.troisiemePartie p {
    font-size: 20px;
    color: #1A295A;
    width: 693px;
    text-align: right;
    font-weight: 400px;
}

.containerTroisiemePartieTexte {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

button {
    width: 345px;
    height: 69px;
    background-color: #1A295A;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-right: auto;
}



/* -----------Quatrième Partie-----------*/
/* -----------Notre application-----------*/

.imageTelephone {
    width: 230px;
    height: 361px;
}

.quatriemePartie {
    background-color:#1A295A;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quatriemePartie p {
    font-size: 20px;
    color: white;
    width: 622px;
    text-align: left;
    font-weight: 400px;
}

.containerQuatriemePartieTexte {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* -----------Cinquième Partie-----------*/

.imageDormir {
    width: 503px;
    height: 358px;
}

.cinquiemePartie {
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cinquiemePartie p {
    font-size: 20px;
    color:#1A295A;
    width: 638px;
    text-align: center;
    font-weight: 400px;
}

/* -----------Footer-----------*/

footer {
    background-color:#1A295A;
    height: 130px;
    display: flex;
    color: white;
    text-align: center;
}
p a {
    text-align: center;
    white-space: nowrap;
}
footer p {
  color: white;
}

.blanc {
    color: white;
}
